 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Mike's roots are planted in Cape Breton Island, a region with a long history of talent and culture. He grew up in a tech savvy & musical family, where he was encouraged to experiment and find his own voice. As a result, he became a multi-instrumentalist, & tech-tinkerer in his early teens, which led him on a self-directed learning path to achieve many accomplishments. Mike is currently working on project & curriculum development for UIT Startup Immersion.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p> Mike has significant experience across graphic design, animation, programming, computer hardware and sound design. In the past Mike has worked at Wingit Studios as a Sound Engineer, Collideascope Digital as an Animator and Graphic Designer (where his work was broadcasted nationally),and as a globally touring professional musician.
                    Mike is the founder of musicAbility, a music therapy program that helps at-risk youth.</p>
                </div>
            </div>
        </div>
    </section>