 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Mike Ouellette’s roots are planted in Cape Breton Island, a region with a long history of talent and culture. He grew up in a musical family, where he was encouraged to experiment and find his own voice. As a result, he became a multi-instrumentalist before discovering his love for bass guitar as a teenager. Ouellette’s passion and natural ability for music took him to St. FX, where he enrolled in the jazz program. Since then, he has shared the stage with such artists as Blue Rodeo, Our Lady Peace, and Grammy Award winner Gordie Sampson. </p>
                </div>
                <div class="col-lg-4">
                    <p>He currently tours with SOCAN songwriting winner Mo Kenney, Dylan Gouthro, Carleton Stone , Young River (Guitar), Dave Sampson, Cyndi Cain, Heather Green (Lapsteel) as well as ECMA award winner Ria Mae. Ouellette’s ecclectic musical interests continue to open new doors, as he works towards creating a foundation for himself as a consistent, reliable, professional within a difficult industry. Ouellette may not always be in the spotlight, but he is quickly making a name for himself on the East Coast as a respected musician for hire. If you want your project to sound great and have fun in the process, look him up.</p>
                </div>
            </div>
        </div>
    </section>